* {
  margin: 0;
  padding: 0;
}
.content {
  padding-top: 50px;
  padding-bottom: 500px;
  width: 1000px;
  margin: 0 auto;
  overflow: hidden;
}
.content img {
  cursor: pointer;
}
.content .warp {
  width: 396px;
  height: 400px;
  border: 2px solid #EDED1F;
  background: #FEFEF3;
  float: left;
  margin-left: 50px;
  margin-right: 50px;
  transition: all 0.5s;
}
.content .warp .item {
  float: left;
  width: 85px;
  height: 120px;
  display: inline-block;
  margin: 7px;
}
